

<form method="post" action="{{ path('app_booking_delete', {'id': reservation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">

    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id) }}">

    <button class="btn">Delete</button>
</form>
{% for message in app.flashes('success') %}
    <p>{{ message }}</p>
{% endfor %}
{% for message in app.flashes('danger') %}
     <div class="mt-4 container alert alert-danger" role="alert">
         <p>{{ message }}</p>
         <hr>
     </div>
 {% endfor %}

