{% extends 'base.html.twig' %}

{% block title %}Contactez Hypnos{% endblock %}

{% block body %}
    <h1 class="text-center">Nous contacter</h1>

    {{ include('contact/_form.html.twig') }}
{% endblock %}
